* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background: rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1, header h3, header p {
    color: white;
}

main {
    position: relative;
    width: 50%;
    color: white;
    padding-bottom: 100px;
}

.box {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transform: translateY(0px);
    transition: all ease 1s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em;
}

.box .subtitle {
    font-size: 1.2rem;
    font-weight: 300;
}

.box table, .box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 1.5;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

a.btn {
    color: rgb(58, 183, 58);
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    text-decoration: none;
    box-shadow: 0 0 2px green;
    transition: 0.3s;
}

a.btn:hover {
    color: rgb(39, 247, 39);
    box-shadow: 0 0 10px rgb(39, 247, 39);
}

footer {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;

    position: fixed;
    bottom: 0;
    background-color: rgb(73,87,30);

    box-shadow: 0px -6px 15px 8px rgba(73,87,30,1);
    -webkit-box-shadow: 0px -6px 15px 8px rgba(73,87,30,1);
    -moz-box-shadow: 0px -6px 15px 8px rgba(73,87,30,1);
}